--> body{ background-color:#f4f4f4; color:#555; font-family:Arial,Helvetica,sans-serif; font-size: 16px; line-height:1.6em; margin: 0; } img{
background:url('logo.jpg');
max-width:150px;
max-height:30px;
padding-top:5px;
padding-left:0;
}

.container{ width:80%; margin: auto; overflow:hidden; } #main-header{ background-color:coral; color: #fff; line-height:5px; padding-right:0px;

}

#main-header h3{

padding-right:5px;
font-size:15px;
}

#navbar{ background-color: #333; color:#fff;

} #navbar ul{ padding: 0; list-style:none; text-align: right; word-spacing:55px;

} #navbar li{ display: inline; height:1px;

}

#navbar a{ color: #fff; text-decoration:none; font-size:18px; padding: 15px;

} #showcase{ background-image:url('../images/image4.jpg'); background-position: center right; min-height:150px; margin-bottom: 30px; text-align:left;

} #showcase h2{ color:#fff; font-size: 30px; line-height:1.1em; padding-top: 30px; font-family:Arial; } #showcase h3{ color:#fff; font-size: 20px; line-height:3px;

} #main{ float:right; width:70%; padding:0 25px; box-sizing:border-box;

} #civil img{

height:120px;
width: 200px;
} #sidebar{ float:left; width:30%; background:orange; color: white; padding:8px; box-sizing:border-box; }

#main-footer{ background:#333; color: #fff; text-align:left center; padding:30px; margin-top:10px;

} @media(max-width: 600px){ #main{ width: 100px; float: none;

}
#sidebar{
	width: 100px;
	float: none;
	
}
}

body{ background-color:#f4f4f4; color:#555; font-family:Arial,Helvetica,sans-serif; font-size: 16px; line-height:1.6em; margin: 0;

} .container{ width:80%; margin: auto; overflow:hidden; } #main-header{ background-color:coral; color: #fff; line-height:0px; padding-right:0px;

} #main-header h2{ word-spacing: 2px; } #main-body{ padding: 30px; }

.box-1{ background-color:#80b3ff; color:black; border:3px red solid; border-bottom-width:5px; padding:5px; margin:15px 0;

} .box-2{ background-color:#80b3ff; color:black; border:3px red solid; border-bottom-width:5px; padding:5px; margin-top:10px; } .box-last h3{ text-align: center; }

#main-footer{ background:#333; color: #fff; text-align:left center; padding:30px; margin-top:50px;

}
